/node_modules
/extensions/*/node_modules/
/var/db.*.sqlite3
/var/sessions.*.json
/public/bundle.js
/public/vendor.bundle.js
/public/*.woff2
/public/*.woff
/public/*.ttf
/public/*.eot
/public/*.svg
/webpack.log
/es5
