<% if (user) { %>
  <p>Hello, <a href="/profile"><%= user.first_name && user.first_name.length ? user.first_name : user.email %></a>.</p>
  <p>
    Manage your stored <a href="/data-sources">data sources</a>.
    <p class="help-block">
      A data source can be a CSV string, JSON string, or an external MySQL connection and query.
    </p>
  </p>
  <p>
    View all installed <a href="/vis-plugins">visualization plugins</a>.
    <p class="help-block">
      Plugins must be placed in the /plugins directory
    </p>
  </p>
  <p>
    Manage your <a href="/documents">documents</a>.
    <p class="help-block">
      A document contains a data source, a transformation pipeline, a visualization plugin, and visualization parameters. It is the document that renders the visualization.
    </p>
  </p>
<% } else { %>
  <p>Welcome! Please <a href="/login">log in</a>.</p>
<% } %>
