
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="my-account">
      <h2>My Account</h2>

      Email: <%= user.email %><br/>
      First Name: <%= user.first_name %><br/>
      Last Name: <%= user.last_name %><br/>
    </div>
  </div>
</div>
